/* Josh's CSS reset. 
Cite: https://www.joshwcomeau.com/css/custom-css-reset/  */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: x-large;
}

.container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vh;
  min-height: 0;
  margin: 0 auto;
  justify-content: stretch;
}

.row {
  display: flex;
  flex: 1 1 0;
  min-height: 0;
}

button {
  flex: 1 1 0;
  margin: 0.5em;
  border: 1px solid black;
}

#operator-all-clear {
  flex-grow: 2;
}

#operator-equal {
  flex-grow: 2;
}


#display {
  min-height: 10vh;
  border: 1px solid black;
  text-align: right;
  font-size: 2em;
}